doctype html
h1 Sample Form
form(action = '/confirm_add' method = "POST")
  p NAME:
  input(type = "text" name = "spacename" placeholder = "NAME")
  p ADDRESS:
  input(type = "text" name = "spaceaddress" placeholder = "ADDRESS")
  p PRICE:
  input(type = "text" name = "spaceprice" placeholder = "PRICE")
  p DESCRIPTION:
  input(type = "text" name = "spacedescription" placeholder = "DESCRIPTION")
  p SUBMIT:
  input(type="submit")
  include datepicker.html






