doctype html
html
    head
        if title
            title= title
        else
            title MakersBnB
        script(href='http://code.jquery.com/jquery-3.3.1.js')
        link(src='style.css')
    body
        block content


