extends layout.pug
block content
    form(id="signup" action="/login" method="post")
        p EMAIL:
        input(type="text", name="email", value="", placeholder="email address")
        p PASSWORD:
        input(type="password", name="password", value="", placeholder="your password")
        br
        input(type="submit" value="submit")
