extends layout.pug
block content
    h1= title
    span Email:
    span= user.email
    p You are logged in!
    p View details
    p Edit
    form(id='delete' action='/delete' method='post')
        input(type='checkbox', id='delete_check')
        input(type='submit', value='delete')
