extends layout.pug
block content
    p Email: #{user.email}
    p You are logged in!
    p Edit
    form(id='delete' action='/delete' method='post')
        input(type='checkbox', id='delete_check')
        input(type='submit', value='delete')
