html
    head
        title= title
    body
        body
            h1= title
                form(id="signup" action="/user/signup" method="post")
                        p EMAIL:
                        input(type="text", name="email", value="", placeholder="email address")
                        br
                        p PASSWORD:
                        input(type="password", name="password", value="", placeholder="your password")
                        br
                        p SUBMIT:
                        input(type="submit" value="submit")
