html 
    body
      style
        include style.css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet')
      h1 MakersBnB
      ul
        each space in spaces
          li=space.spacename + space.spaceaddress + space.spacedescription + space.from + space.to + space.spaceprice